@model AlphatronMarineServer.Models.Vessel
@{

}
   <link href="~/Content/daterangepicker-bs3.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<div style="margin: 0px" class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Vessel</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/">Main</a>
            </li>
            <li class="active">
                <strong>Add or Change Vessel</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form autocomplete="off" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">IMO</label>

                            <div class="col-sm-5">
                                @if (ViewBag.VID == 0)
            {
                    <input type="text" name="IMO" class="form-control" value="@Model.IMO">
}
else
{
                    <input type="text" disabled name="IMO" class="form-control" value="@Model.IMO">
}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-5"><input type="text" name="Name" class="form-control" value="@Model.Name"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type</label>

                            <div class="col-sm-5"><input type="text" name="Type" class="form-control" value="@Model.Type"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">MMSI</label>

                            <div class="col-sm-5"><input type="text" name="MMSI" class="form-control" value="@Model.MMSI"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">CallSign</label>

                            <div class="col-sm-5"><input type="text" name="CallSign" class="form-control" value="@Model.CallSign"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Gross Tonnage</label>

                            <div class="col-sm-5"><input type="text" name="GrossTonnage" class="form-control" value="@Model.GrossTonnage"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Class</label>

                            <div class="col-sm-5"><input type="text" name="Class" class="form-control" value="@Model.Class"></div>
                        </div>
                        <div class="form-group" id="data_1">
                            <label class="col-sm-2 control-label">Annual check date</label>
                            <div class=" col-sm-5 input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input value="@Model.AnnualCheckDate" type="text" name="AnnualCheckDate" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="Flag">
                                    @if (Model.Country != null)
                {
                    <option value="@Model.Flag">@Model.Country.Name</option>
}

                                    @foreach (var item in ViewBag.Countries)

                {

                    <option value="@item.ID">@item.Name</option>
}
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Company</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" name="CompanyID">
                                    @if (Model.CompanyID != null)
                {
                    <option value="@Model.CompanyID">@Model.Company.Name</option>
}

                                    @foreach (var item in ViewBag.Companies)

                {

                    <option value="@item.ID">@item.Name</option>
}
                                </select>

                            </div>
                        </div>

                        <a href="~/Fleet" style="text-decoration: none; color: #676a6c"><button class="btn btn-white" type="button">Back</button></a>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $('#data_1 .input-group.date').datepicker({
        format: 'dd/mm/yyyy',
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
</script>