<!DOCTYPE html>

<html style="padding: 0px">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Content/inspinia.css")
    @Styles.Render("~/Content/footable.core.css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/footable.all.min.js")
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/summernote.min.js"></script>
</head>
<body style="background-color: #2f4050">
    <div style="height: 100%" id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img style="height: 30px" alt="image" class="img-circle" src="/Content/images/adminpic.png">
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@ViewBag.User</strong>
                                    </span> <span class="text-muted text-xs block">@ViewBag.Role </span>
                                </span>
                            </a>

                        </div>



                    </li>
                    @if (ViewBag.Part == "Main")
    {
                <li class="active">
                    <a href="~/"><i class="glyphicon glyphicon-home"></i> <span class="nav-label">Main</span></a>
                </li>
}
else
{
                <li>
                    <a href="~/"><i class="glyphicon glyphicon-home"></i> <span class="nav-label">Main</span></a>
                </li>
}
                    @if (ViewBag.Part == "Fleet")
    {
                <li class="active">
                    <a href="~/Fleet"><i class="fa fa-tachometer"></i> <span class="nav-label">Fleet</span></a>
                </li>
}
else
{
                <li>
                    <a href="~/Fleet"><i class="fa fa-tachometer"></i> <span class="nav-label">Fleet</span></a>
                </li>
}
                    @if (ViewBag.Part == "Equipment")
    {
                <li class="active">
                    <a href="~/Equipment"><i class="fa fa-anchor"></i> <span class="nav-label">Equipment</span></a>
                </li>
}
else
{
                <li>
                    <a href="~/Equipment"><i class="fa fa-anchor"></i> <span class="nav-label">Equipment</span></a>
                </li>
}
                    @if (ViewBag.Part == "Users")
    {
                <li class="active">
                    <a href="~/Users"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
                </li>
}
else
{
                <li>
                    <a href="~/Users"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
                </li>
}

                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="~/Admin/Logout">
                                <i class="fa fa-sign-out"></i> Logout
                            </a>
                        </li>
                    </ul>
                </nav>
                @RenderBody()
            </div>
        </div>

    </div>
    <div class="footer">

    </div>


    <script>
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
</body>

</html>
