

<div style="margin-left:0px" class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Equipment</h2>
        <ol class="breadcrumb">
            <li>
                <a href="~/">Home</a>
            </li>
            <li>
                <a href="~/Fleet">Fleet</a>
            </li>
            <li class="active">
                <strong>Equipment</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="ibox-title" style="border: none; padding: 28px 15px 7px">
            <a class="btn btn-primary " href="~/Vessel/@ViewBag.VIMO/Equipment/0">Add Equipment</a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
               
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                            <tr>

                                <th>Serial Number</th>
                                <th>Maker</th>
                                <th>Model</th>
                                <th>Remarks</th>
                                <th>Check Date</th>
                                <th>Vessel</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Equipment)
                            {
                            <tr>
                                <td><a href="~/Vessel/@ViewBag.VIMO/Equipment/@item.SerialNumber/Fields">@item.SerialNumber</a></td>
                                <td>@item.Maker</td>
                                <td>@item.Model</td>
                                <td>@item.Remarks</td>
                                <th>@item.CheckDate</th>
                                <td>@item.Vessel.IMO - @item.Vessel.Name</td>
                                <td>
                                    <a href="~/Vessel/@ViewBag.VIMO/Equipment/@item.SerialNumber"><i class="fa fa-edit" style="color: #1ab394 !important"></i></a>
                                    <a id="del" href="~/Vessel/@ViewBag.VIMO/Equipment/@item.SerialNumber/del"><i class="fa fa-trash-o" style="color: #1ab394 !important"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

